.Showing{
    height: auto;
}

.notShowing{
    height: 0;
    overflow: hidden;
}

.clickable{
    cursor: pointer;
}

.redClickable{
    cursor: pointer;
    background-color: red;
}

.container{
    text-align: auto;
    display: inline-block; 
    float: left;
    margin-left: 50px;
}

button{
    background-color: aqua;
}
h4 {
    max-width: 280px;
}