.Showing{
    height: auto;
}

.notShowing{
    height: 0;
    overflow: hidden;
}

.clickable{
    cursor: pointer;
}

.redClickable{
    cursor: pointer;
    background-color: red;
}

button{
    background-color: aqua;
}